*{
    box-sizing: border-box;
}
h2{
    font-size:xx-large;
    font-weight: bolder;
    text-align: center;
}
#column1,#column2,#column3{
    float: left;
    position: relative;
    height: 160px;
    margin-left: 4%;
    width: 28%;
    overflow: hidden;
    border: 4px solid black;
    background-color: #999999;
}
#sectioncontainer h3{
    width: 100px;
    position: absolute;
    top: -21px;
    right: 0px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid black;
}
#column1 h3{
    background-color:#d49898;
}
#column2 h3{
    color: white;
    background-color:#c14543;
}
#column3 h3{
    background-color:#e5d097;
}
#sectioncontainer article{
    font-size: 100%;
    position: relative;
    font-weight: bolder;
    top: 25px;
    margin: 7px;
}
@media only screen and (max-width:991px){
    #column1,#column2{
        margin-left:13%;
        margin-bottom: 20px;
        width: 30%;
    }
    #column3{
        margin-left: 10%;
        width: 80%;
    }
    
}
@media only screen and (max-width:768px){
    #column1,#column2,#column3{
        
        margin-left:10% ;
        width: 80%;
    }
}